pandas
absl-py==2.1.0
alembic==1.13.3
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
cachetools==5.5.0
catalogue @ file:///C:/b/abs_0d918n68qi/croot/catalogue_1703688198988/work
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi==1.16.0
charset-normalizer==3.3.2
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
cloudpathlib @ file:///C:/b/abs_049y1lewoy/croot/cloudpathlib_1704812313028/work
colorama==0.4.6
colorlog==6.8.2
comm==0.2.2
confection @ file:///C:/b/abs_dcftb4qo2h/croot/confection_1703694738925/work
contourpy==1.1.1
cycler==0.12.1
cymem @ file:///C:/ci/cymem_1651231505755/work
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup==1.2.1
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.49.0
fqdn==1.5.1
fsspec==2024.2.0
gast==0.4.0
gmpy2 @ file:///C:/ci/gmpy2_1645456279018/work
google-auth==2.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.66.2
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
imageio==2.34.0
importlib_metadata==7.1.0
importlib_resources==6.1.3
ipykernel==6.29.4
ipython==8.12.3
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
json5==0.9.25
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
keras==2.11.0
kiwisolver==1.4.5
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
libclang==18.1.1
Mako==1.3.5
Markdown==3.7
markdown-it-py @ file:///C:/b/abs_a5bfngz6fu/croot/markdown-it-py_1684279915556/work
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl @ file:///C:/Windows/TEMP/abs_3197pzpjbi/croots/recipe/mdurl_1659716032440/work
mistune==3.0.2
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mpmath==1.3.0
murmurhash @ file:///C:/ci/murmurhash_1651229805044/work
MyQR==2.3.1
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==1.2.1
netifaces==0.11.0
networkx==3.1
nltk @ file:///C:/b/abs_3e10flry37/croot/nltk_1724427703710/work
notebook==7.1.3
notebook_shim==0.2.4
numpy==1.24.4
oauthlib==3.2.2
opencv-python==4.9.0.80
opt_einsum==3.4.0
optuna==4.0.0
overrides==7.7.0
packaging==24.0
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pickleshare==0.7.5
pillow==10.2.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
plotly @ file:///C:/b/abs_1014knmz1t/croot/plotly_1726245573566/work
pooch @ file:///C:/b/abs_a8nmng7d_x/croot/pooch_1695850149827/work
preshed @ file:///C:/ci/preshed_1651240582072/work
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==3.19.6
psutil==5.9.8
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio @ file:///C:/python/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycparser==2.22
pydantic @ file:///C:/b/abs_b7acb4hnl_/croot/pydantic_1725040540545/work
pydantic_core @ file:///C:/b/abs_3ax4s6v28p/croot/pydantic-core_1724790490828/work
Pygments==2.17.2
pyparsing==3.1.2
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.0.2
referencing==0.35.0
regex @ file:///C:/b/abs_5cm86yjgo3/croot/regex_1726670543261/work
requests==2.31.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich @ file:///C:/b/abs_21nw9z7xby/croot/rich_1720637504376/work
robomaster==0.1.1.68
rpds-py==0.18.0
rsa==4.9
scikit-learn @ file:///C:/b/abs_daon7wm2p4/croot/scikit-learn_1694788586973/work
scipy==1.10.1
seaborn==0.13.2
Send2Trash==1.8.3
shellingham @ file:///C:/b/abs_c3l_fe1lnk/croot/shellingham_1669142179061/work
six==1.16.0
smart-open @ file:///C:/ci/smart_open_1651235037523/work
sniffio==1.3.1
soupsieve==2.5
spacy @ file:///C:/b/abs_2cxswghzwz/croot/spacy_1704840136870/work
spacy-legacy @ file:///C:/b/abs_03fuap2pri/croot/spacy-legacy_1684141127990/work
spacy-loggers @ file:///C:/b/abs_d6x_m5j2nj/croot/spacy-loggers_1684139141178/work
SQLAlchemy==2.0.35
srsly @ file:///C:/b/abs_cehyibr5yg/croot/srsly_1703691952470/work
stack-data==0.6.3
svgling==0.5.0
svgwrite==1.4.3
sympy==1.12
tenacity @ file:///C:/b/abs_d2_havtscu/croot/tenacity_1721222514290/work
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
thinc @ file:///C:/b/abs_38p52jovpi/croot/thinc_1704704013028/work
thop==0.1.1.post2209072238
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tinycss2==1.3.0
tomli==2.0.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
typer==0.9.4
types-python-dateutil==2.9.0.20240316
typing_extensions==4.10.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.1
virtualenv==20.25.1
wasabi @ file:///C:/ci/wasabi_1651234650303/work
Wave==0.0.2
wcwidth==0.2.13
weasel @ file:///C:/b/abs_a2eodvola9/croot/weasel_1704815815095/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wordcloud==1.9.3
wrapt==1.16.0
zipp==3.17.0
